body {
    direction: rtl;
    background-image: url('../images/white-washed-wood-background-1.jpeg');
}
#football {
    background-image: url('../images/6187e8e3b292df4bec7f162543eed86b_XL.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
    #football h1 {
        font-weight: bold;
        color: darkblue;
        text-align: center;
        font-size: 40px;
        padding: 20px 11px 16px 0px;
    }
    #football #p1 {
        font-weight: bold;
        color: darkcyan;
    }
    #football #p2 {
        font-weight: bold;
        color: darkblue;
        text-align: center;
        font-size: 40px;
        padding: 20px 11px 16px 0px;
    }
    #football ul {
        font-weight: bold;
        color: darkcyan;
        text-align: center;
        font-size: 40px;
        padding: 20px 11px 16px 0px;
    }
    #football h2 {
        font-weight: bold;
        color: darkblue;
        text-align: center;
        font-size: 40px;
        padding: 20px 11px 16px 0px;
    }
    #football #p3 {
        font-weight: bold;
        color: darkcyan;
        text-align: center;
        font-size: 40px;
        padding: 20px 11px 16px 0px;
    }
#nala #h3 {
    color: goldenrod;
    text-align: center;
    font-size: 30px;
    padding: 20px 11px 16px 0px;
}
#nala {
    background-image: url('../images/27545520_10210807588973171_4188059832062967106_n.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
    #nala #p2 {
        font-weight: bold;
        color: darkblue;
        text-align: center;
        font-size: 40px;
        padding: 20px 11px 16px 0px;
    }
    #nala #p3 {
        font-weight: bold;
        color:  aqua;
        text-align: center;
        font-size: 40px;
        padding: 20px 11px 16px 0px;
    }
    #nala #h3 {
        font-weight: bold;
        color: aqua;
        text-align: center;
        font-size: 40px;
        padding: 20px 11px 16px 0px;
    }
#batzug {
  background-image: url('../images/18119341_10206933073845677_7770850561113625990_n.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
   font-weight: bold;
    color: darkblue;
    text-align: center;
    font-size: 40px;
    padding: 20px 11px 16px 0px;
    
}

 #p1 {
     font-weight: bold;
     color:black;
     text-align:center;
     font-size:30px; 
 }
 #p2, ul {
 list-style-type:square;
font-family: Arial;
color: black;
font-weight: bold;
text-align:center;
font-size: 30px;
 }
ul {
    list-style: none;
}
nav ul li a:hover {
    background-color: #3097D2;
}

nav ul li a:active {
    background-color: green;
}
#h2 {
    color:darkblue;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 20px 10px 16px 6px;
    
}
#p3{
    color:black;
    font-weight:bold;
    text-align:right;
    font-size:25px;
    padding:20px 10px 16px 6px;
}
#h3
{
    color: darkblue;
    text-align: center;
    font-size: 30px;
    padding: 20px 11px 16px 0px;
}
figure #p4 {
    background-image: url('../images/WhatsApp Image 2018-03-15 at 12.00.10.jpeg');
    background-position-x: center;
    background-position-y: center;
}
 #h4
 {
     color: darkblue;
     font-weight:bold;
     text-align:center;
     font-size: 30px;
 }







